
body {
    background-color: orange; 
}
.row > article {
    padding: 20px;
    border: 2px dashed black;
    border-radius: 50px;
    margin: 30px;
}
nav {
    float: left;
    margin: 30px;
}
body > article {
       
}
header, h2 {
    text-align:center;
} 

