$color0: beige;
$color2: lightgreen;

body {
    background-color: $color0; 
}

header, h2 {
    text-align:center;
} 

.row > article {
    padding: 20px;
    border: 2px dashed black;
    border-radius: 50px;
    margin: 30px;
}

.row > nav {
    float: left;
    margin: 30px;
}

#presentation, #contact {
    border: 0;
}

#skills li {
    list-style-type: square;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    
    > li {
        list-style-type: none;
    }
}

button {
        background-color: lightgreen;
        color: black;  
        border-radius: 15px;
        margin: 20px;
        padding: 20px;
        width: 200px;
}

/* TODO:
    - migrate to SASS < OK
    - find out colors
    - find out font types
*/

